doctype html
html(lang='en')
  head
    title Colorlib Diner
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/aos.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='css/jquery.timepicker.css')
    link(rel='stylesheet', href='fonts/ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='fonts/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='fonts/flaticon/font/flaticon.css')
    // Theme Style
    link(rel='stylesheet', href='css/style.css')
  body
    .site-wrap
      nav.site-menu
        .site-menu-inner
          ul.list-unstyled
            li
              a(href='index.html') Home
            li
              a(href='about.html') About Us
            li
              a(href='menu.html') Our Menu
            li.active
              a(href='blog.html') Our Blog
            li
              a(href='reservation.html') Reserve A Table
            li
              a(href='contact.html') Contact
      header.site-header
        .row.align-items-center
          .col-5.col-md-3
            ul.list-unstyled.social
              li
                a(href='#')
                  span.fa.fa-facebook
              li
                a(href='#')
                  span.fa.fa-twitter
              li
                a(href='#')
                  span.fa.fa-instagram
          .col-2.col-md-6.text-center
            a.site-logo(href='index.html') D
          .col-5.col-md-3.text-right.menu-burger-wrap
            a.site-nav-toggle.js-site-nav-toggle(href='#')
              i
      // site-header
      .main-wrap
        .cover_1.cover_sm
          .img_bg(style='background-image: url(img/slider-1.jpg);', data-stellar-background-ratio='0.5')
            .container
              .row.align-items-center.justify-content-center
                .col-md-7.text-center(data-aos='fade-up')
                  h2.heading.mb-4 Food that are best for your overall health
                  .post-info
                    .date-info February 18, 2017
                    .category-info
                      span.seperator |
                      | In 
                      a(href='#', data-title='View all posts in Lifestyle', title='View all posts in Lifestyle') Lifestyle
                    .author-info
                      span.seperator |
                      | By 
                      a(href='#') Charles Clark
        // .cover_1
        .section
          .container
            .row
              .col-md-8
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
                p
                  | Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!
                h2.mb-3.mt-5 Best for your overall health
                p
                  | Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.
                p
                  | Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.
                p
                  | Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
                p
                  | Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!
                p
                  | Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis, inventore?
                .tag-widget.post-tag-container.mb-5.mt-5
                  .tagcloud
                    a.tag-cloud-link(href='#') Life
                    a.tag-cloud-link(href='#') Sport
                    a.tag-cloud-link(href='#') Tech
                    a.tag-cloud-link(href='#') Travel
                .pt-5.mt-5
                  h3.mb-5 6 Comments
                  ul.comment-list
                    li.comment
                      .vcard.bio
                        img(src='img/person_1.jpg', alt='Image placeholder')
                      .comment-body
                        h3 Jean Doe
                        .meta January 9, 2018 at 2:21pm
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                        p
                          a.reply(href='#') Reply
                    li.comment
                      .vcard.bio
                        img(src='img/person_1.jpg', alt='Image placeholder')
                      .comment-body
                        h3 Jean Doe
                        .meta January 9, 2018 at 2:21pm
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                        p
                          a.reply(href='#') Reply
                      ul.children
                        li.comment
                          .vcard.bio
                            img(src='img/person_1.jpg', alt='Image placeholder')
                          .comment-body
                            h3 Jean Doe
                            .meta January 9, 2018 at 2:21pm
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                            p
                              a.reply(href='#') Reply
                          ul.children
                            li.comment
                              .vcard.bio
                                img(src='img/person_1.jpg', alt='Image placeholder')
                              .comment-body
                                h3 Jean Doe
                                .meta January 9, 2018 at 2:21pm
                                p
                                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                p
                                  a.reply(href='#') Reply
                              ul.children
                                li.comment
                                  .vcard.bio
                                    img(src='img/person_1.jpg', alt='Image placeholder')
                                  .comment-body
                                    h3 Jean Doe
                                    .meta January 9, 2018 at 2:21pm
                                    p
                                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                    p
                                      a.reply(href='#') Reply
                    li.comment
                      .vcard.bio
                        img(src='img/person_1.jpg', alt='Image placeholder')
                      .comment-body
                        h3 Jean Doe
                        .meta January 9, 2018 at 2:21pm
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                        p
                          a.reply(href='#') Reply
                  // END comment-list
                  .comment-form-wrap.pt-5
                    h3.mb-5 Leave a comment
                    form.p-5.bg-light(action='#')
                      .form-group
                        label(for='name') Name *
                        input#name.form-control(type='text')
                      .form-group
                        label(for='email') Email *
                        input#email.form-control(type='email')
                      .form-group
                        label(for='website') Website
                        input#website.form-control(type='url')
                      .form-group
                        label(for='message') Message
                        textarea#message.form-control(name='', cols='30', rows='10')
                      .form-group
                        input.btn.btn-primary(type='submit', value='Post Comment')
              // .col-md-8
              .col-md-4.sidebar
                .sidebar-box
                  form.search-form(action='#')
                    .form-group
                      span.icon.fa.fa-search
                      input.form-control(type='text', placeholder='Type a keyword and hit enter')
                .sidebar-box
                  .categories
                    h3 Categories
                    li
                      a(href='#')
                        | Courses 
                        span (12)
                    li
                      a(href='#')
                        | News 
                        span (22)
                    li
                      a(href='#')
                        | Design 
                        span (37)
                    li
                      a(href='#')
                        | HTML 
                        span (42)
                    li
                      a(href='#')
                        | Web Development 
                        span (14)
                .sidebar-box
                  img.img-fluid.mb-4(src='img/person_1.jpg', alt='Image placeholder')
                  h3 About The Author
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
                  p
                    a.btn.btn-primary.btn-sm(href='#') Read More
                .sidebar-box
                  h3 Tag Cloud
                  .tagcloud
                    a.tag-cloud-link(href='#') Life
                    a.tag-cloud-link(href='#') Sport
                    a.tag-cloud-link(href='#') Tech
                    a.tag-cloud-link(href='#') Travel
                    a.tag-cloud-link(href='#') Life
                    a.tag-cloud-link(href='#') Sport
                    a.tag-cloud-link(href='#') Tech
                    a.tag-cloud-link(href='#') Travel
                .sidebar-box
                  h3 Paragraph
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
        // .section
        // .main-wrap
        footer
          .site-footer
            .container
              .row.small-gutters.mb-5
                .col-md-6.col-lg-3.mb-5(data-aos='fade', data-aos-delay='100')
                  .footer-widget
                    h3 Diner Restaurant
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel neque, odio illum. Est minima sint minus sunt ducimus.
                .col-md-6.col-lg-3.mb-5(data-aos='fade', data-aos-delay='200')
                  .footer-widget
                    h3 Lunch Service
                    p Booking from 12:00pm - 1:30pm
                    h3 Dinner Service
                    p
                      | Everyday: 
                      br
                      |  Booking from 6:00pm - 9:00pm
                .col-md-6.col-lg-3.mb-5(data-aos='fade', data-aos-delay='300')
                  .footer-widget
                    h3 Quick Links
                    ul
                      li
                        a(href='#') Help & Support
                      li
                        a(href='#') Privacy Policy
                      li
                        a(href='#') Get in Touch
                      li
                        a(href='#') Testimonials
                .col-md-6.col-lg-3.mb-5(data-aos='fade', data-aos-delay='400')
                  .footer-widget.footer-contact-widget
                    h3 Subscribe
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    form.form-subscribe.mb-5(action='')
                      .form-group.form-field
                        input.btn.btn-primary(type='submit', value='Send')
                        input.form-control(type='text', placeholder='Email')
                    h3 Contact Us
                    p.contact-email info@yourdomain.com
                    p.contact-phone 1-444-123-9829
        .site-footer-copyright
          .container
            .row
              p.footer-text.col-md-12
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                // loader
                #loader.show.fullscreen
                  svg.circular(width='48px', height='48px')
                    circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
                    circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#f4b214')
                script(src='js/jquery-3.2.1.min.js')
                script(src='js/jquery-migrate-3.0.1.min.js')
                script(src='js/popper.min.js')
                script(src='js/bootstrap.min.js')
                script(src='js/owl.carousel.min.js')
                script(src='js/jquery.waypoints.min.js')
                script(src='js/bootstrap-datepicker.js')
                script(src='js/jquery.timepicker.min.js')
                script(src='js/jquery.stellar.min.js')
                script(src='js/aos.js')
                script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
                script(src='js/main.js')
